<h2>Exercício - Kasnar Leonardos</h2>
<p></p>
<p></p>
<p></p>

<h4>por: Adriana Borges</h4>

<p>Critérios tecnológicos utilizadas no projeto:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para código do lado do servidor de plataforma cruzada</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para código do lado do cliente</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para layout e estilo</li>
  <li><a href='http://sqlserver.com/'>SQLServer</a> para banco de dados</li>
  <li><a href='https://github.com/AdrianaBorges/Projetc-Kasznar/'>Código fonte disponibilizado no Github</a></li>

</ul>
<p>O projeto em questão possui documentação do Swagger, que mostrará toda a documentação das APis pela URL / api/documentation que é atualizada automaticamente quando você criado uma nova API.</p>

